.list-item{
    border: 2px solid rosybrown;
    padding: 2rem; 
   /* margin: .5rem;*/
   width: 30rem;
}
.container{
    border: 2px solid rgb(83, 80, 80);
    display: flex;
   /* justify-content: end;*/ /* box chai end tira janxa*/
    column-gap: 2rem;
       flex-wrap: wrap;
       gap: 3rem;
       /*height: 40px;*/
       align-items: space-between;
       flex-direction:row-reverse ;
       flex-flow:row wrap;
}